---
import "../styles/global.css";
import "../styles/experience-cards.css";
import "../styles/project.css";
---
<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Mi Portafolio</title>
  </head>
  <body class="bg-white text-gray-900">
    <slot />
    <script type="module" src="/src/scripts/tab-navigation.js"></script>
  </body>
</html>
